
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: #333;
    color: #a13636;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: background-color 0.3s, color 0.3s;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #a13636;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: #ae4747;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 28px;
}

main {
    padding-top: 60px; /* Ensure content does not hide behind fixed header */
    background-color: #a13636;
}
